body {
    background: rgb(238, 236, 236);
    font-family: "poppins", sans-serif;

}

.navbar-ul {
    margin-left: 45%;
}


.nav-container {
    padding-left: 15%;
    padding-right: 15%;

    background: #1E40AF;
}

.hero-section {
    background: linear-gradient(135deg, #1e40af, #60a5fa);
    color: #ffffff;
    padding: 120px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}


.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c") no-repeat center/cover;
    opacity: 0.2;
    z-index: 0;
}

.hero-section h1 {
    font-size: 3.2rem;
    font-weight: 600;
    z-index: 1;
    position: relative;
}

.section-title {
    font-size: 2.3rem;
    font-weight: 600;
    color: #1e40af;
    margin-bottom: 20px;
}

.skill-card img {
    width: 50px;
    height: 50px;

}

.skill-card {
    align-items: center;
    padding: 15px;
}

.project-card {
    text-align: left;

}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}


footer {
    background-color: #1E40AF;
    padding: 50px 0;
    color: white;
    text-align: center;
}

.card-animate {
    transition: all 0.3s ease;
}

.card-animate:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.mb-3 {
    margin-bottom: 1rem !important;
    box-sizing: border-box;
}

.contact-box {
    padding: 30px;
    background: #ffffff;


    border: 0px solid black;
    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

